.grid {
    display: grid;
    grid-template-columns: minmax(20%, 180px) minmax(20%, 180px) minmax( 20%, 180px) minmax(20%, 180px);
    justify-content: center;
    padding: 0.625em;
}

.box {
    background-color: #eeeeee;
    border: 1px solid black;
    padding: 20px;
    height: 100px;
    cursor: pointer;
}

.one {
    background-color: dodgerblue;
}

.two {
    background-color: dodgerblue;
}

.three {
    background-color: dodgerblue;
}

.four {
    background-color: dodgerblue;
}

.five {
    background-color: dodgerblue;
}

.six {
    background-color: dodgerblue;
}